.card {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    float: left;
    transition: all .5s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}

.card img {
    width: 380px;
    min-height: 200px;
    height: 200px;
    object-fit:cover;
}

h1 {
    text-align: center;
}

#buscar {
    width: 80vw;
}

fieldset {
    text-align: center;
}

#contenedor_cards{
    text-align: center;
}

.container_info {
    display: flex;
  }

  .column {
    padding: 20px;
  }

  input:focus {
    background-color:lightblue;
  }

.Vehiculo-card{
    width: 400px;
    border: 1px solid #080808;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    float: left;
    transition: all .5s ease-in-out;
}

.Vehiculo-card:hover{
    transform: scale(1.05);
}

.Vehiculo-card img{
    width: 380px;
    min-height: 200px;
    height: 200px;
    object-fit:cover;
}

.Vehiculo-card button{
    background-color: red;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header{
    background-image:url(./Imagenes/portadasi.png);
    background-position-y: top;
    background-position-x: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

}

header img{
    width: 300px;
    height: 100px;
}

h1{
  text-align: center;
  font-size: 3rem;
  flex-grow: 1;
}
main h3{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
nav{
    background-color: grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    min-height: 3vh;
}

nav a{
    width: 13rem;
    text-align: center;
    text-decoration: none;
    height: 3.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.8rem;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color:white;
    transition: all 0.5s;
}

#titulo{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

#footer{
    justify-content: center;
    text-align: center;
    padding: 0.8px;
    font-size: 1.5rem;
}

a:hover{
    transform: scale(1.1) rotate(15deg);
    color: black;
    background-color:red   ;
}

.activo{
    background-color: black;
    color: white; 
}
footer{
    background-color: blue;
    padding: 1px;
}

  
